/data_scraping_10feb_raw.csv
/data_scraping_10feb_raw.xlsx
/data_scraping_10feb_raw_src.xlsx
/hasil_clustering_final.csv
/hasil_clustering_final.xlsx
/hasil_scrap_10feb_clustering_all_score_final.xlsx
/PC10_PART10.csv
/PC1_PART1.csv
/PC2_PART2.csv
/PC3_PART3.csv
/PC4_PART4.csv
/PC5_PART5.csv
/PC6_PART6.csv
/PC7_PART7.csv
/PC8_PART8.csv
/PC9_PART9.csv
/README_CLUSTERING.md
/scoring_and_clustering_data.ipynb
/scrape
/scraping_10feb_cleaned.xlsx
/scraping_and_cleaning_data_v2.ipynb
/__pycache__
/~$hasil_clustering_final.xlsx
/~$hasil_scrap_10feb_clustering_all_score_final.xlsx